body,* {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
}


.box .box1 {
    width: 200px;
    height: 100px;
    background-color: #ffd700;
    margin-right: auto;
}

.content {
    display: flex;
    gap: 5px;

}

.content .box2 {
    width: 100px;
    height: 100px;
    background-color: #ffd700;

}

.content .box3 {
    width: 100px;
    height: 100px;
    background-color: #ffd700;
}

.box .box4 {
    width: 200px;
    height: 100px;
    background-color: #ffd700;
    margin-left: auto;

}