body,* {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    gap: 10px;
    
}

.box{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin-right: auto;
}

.boxx{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin-left: auto;
}
