body,
* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #14bce6;
    height: 50px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

.navigation {
    background-color: #14bce6;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}

.container {
    display: flex;
    gap: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;

}

.container .slidebar {
    width: 25%;
    background-color: #14bce6;
    color: white;
    height: 300px;
    line-height: 300px;
    border-radius: 10px;
}

.container .content {
    width: 75%;
    background-color: #14bce6;
    color: white;
    line-height: 300px;
    border-radius: 10px;
}

.footer {
    background-color: #14bce6;
    color: white;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

.root {
    width: 30%;
    margin: 0 auto;
}