.item{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 50px auto 100px;
    gap: 10px;

}

.item .header{
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #ff339a;

}

.item .menu{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #0099ff;
}

.item .left{
    background-color: #99cc67;
}

.item .content{
    background-color: #65cc33;
}

.item .right{
    background-color: #ff9968;
}

.item .footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: cyan;
}
