body ,*{
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 500px 200px;
    grid-template-rows: 150px 300px;
    gap: 10px;

}

.container .box1{
    grid-row-start:1;
    grid-row-end: 3;
    background-color: red;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 120px 120px;
    gap: 10px;
}

.content .box2{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
}


.content .box3{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: red;
}

.content .box4{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: red;

}

.content .box5{
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: red;
}

.content .box6{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: red;

}

.content1{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 200px 250px;
    gap: 10px;
}

.content1 .box7{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: red;

}

.content1 .box8{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: red;

}